---
import type { ProjectItem } from '@data/projects';
import { dictionary } from '@i18n/index';

type Props = {
  project: ProjectItem;
};

const { project } = Astro.props;
const categoryText = {
  jp: project.category.map((category) => category.label.jp).join(', '),
  en: project.category.map((category) => category.label.en).join(', ')
};
---

<dl class="project-meta">
  <div class="project-meta__row">
    <dt>
      <span data-lang="jp">{dictionary.jp.projects.meta.date}</span>
      <span data-lang="en">{dictionary.en.projects.meta.date}</span>
    </dt>
    <dd>{project.date}</dd>
  </div>
  <div class="project-meta__row">
    <dt>
      <span data-lang="jp">{dictionary.jp.projects.meta.client}</span>
      <span data-lang="en">{dictionary.en.projects.meta.client}</span>
    </dt>
    <dd>{project.client}</dd>
  </div>
  {
    project.medium && (
      <div class="project-meta__row">
        <dt>
          <span data-lang="jp">{dictionary.jp.projects.meta.medium}</span>
          <span data-lang="en">{dictionary.en.projects.meta.medium}</span>
        </dt>
        <dd>
          <span data-lang="jp">{project.medium.jp}</span>
          <span data-lang="en">{project.medium.en}</span>
        </dd>
      </div>
    )
  }
  <div class="project-meta__row">
    <dt>
      <span data-lang="jp">{dictionary.jp.projects.meta.category}</span>
      <span data-lang="en">{dictionary.en.projects.meta.category}</span>
    </dt>
    <dd>
      <span data-lang="jp">{categoryText.jp}</span>
      <span data-lang="en">{categoryText.en}</span>
    </dd>
  </div>
</dl>

<style>
  .project-meta {
    margin: 0;
    display: grid;
    font-size: var(--text-caption);
    line-height: var(--leading-caption);
  }

  .project-meta__row {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: var(--spacing-15);
    padding-block: 5px;
  }

  .project-meta dt {
    color: var(--color-ink);
  }

  .project-meta dd {
    margin: 0;
  }
</style>
